# Hotel Recommendation System

In [39]:
recommender("FR", "Leisure")

,Hotel_Name,Average_Score,Hotel_Address
0,Ritz Paris,9.8,15 Place Vend me 1st arr 75001 Paris FR
1,H tel de La Tamise Esprit de France,9.6,4 rue d Alger 1st arr 75001 Paris FR
2,Le Narcisse Blanc Spa,9.5,19 Boulevard De La Tour Maubourg 7th arr 75007...
3,Hotel The Peninsula Paris,9.5,19 avenue Kleber 16th arr 75116 Paris FR
4,Hotel Monge,9.4,55 rue Monge 5th arr 75005 Paris FR
5,Nolinski Paris,9.4,16 Avenue de l Opera 1st arr 75001 Paris FR
6,La Chambre du Marais,9.4,85 87 RUE DES ARCHIVES 3rd arr 75003 Paris FR
7,Hotel Eiffel Blomet,9.4,78 Rue Blomet 15th arr 75015 Paris FR
8,Goralska R sidences H tel Paris Bastille,9.4,7 Boulevard Bourdon 4th arr 75004 Paris FR
9,H tel D Aubusson,9.4,33 Rue Dauphine 6th arr 75006 Paris FR

In [40]:
recommender("ES", "Solo Traveler")

,Hotel_Name,Average_Score,Hotel_Address
0,Hotel Casa Camper,9.6,Elisabets 11 Ciutat Vella 08001 Barcelona ES
1,Hotel The Serras,9.6,Passeig de Colom 9 Ciutat Vella 08002 Barcelon...
2,H10 Casa Mimosa 4 Sup,9.6,Pau Claris 179 Eixample 08037 Barcelona ES
3,Mercer Hotel Barcelona,9.5,Dels Lledo 7 Ciutat Vella 08003 Barcelona ES
4,Catalonia Square 4 Sup,9.4,Ronda Sant Pere 9 Eixample 08010 Barcelona ES
5,The One Barcelona GL,9.4,277 Carrer de Proven a Eixample 08037 Barcelon...
6,Hotel Palace GL,9.4,Gran Via de les Corts Catalanes 668 Eixample 0...
7,The Wittmore Adults Only,9.4,Riudarenes 7 Ciutat Vella 08002 Barcelona ES
8,Hotel Margot House,9.4,Paseo de Gracia 46 Eixample 08007 Barcelona ES
9,Catalonia Magdalenes,9.4,Magdalenes 13 15 Ciutat Vella 08002 Barcelona ES

# Python Code

Importing libraries

In [1]:
!pip install pandas --upgrade --quiet

In [2]:
import pandas as pd
import numpy as np

In [6]:
!pip install nltk
import nltk
# downloading ntlk modules
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

Requirement already satisfied: nltk in /opt/conda/lib/python3.9/site-packages (3.8.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /opt/conda/lib/python3.9/site-packages (from nltk) (8.0.3)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.9/site-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from nltk) (4.62.3)

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jovyan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/jovyan/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [7]:
!pip install opendatasets

Requirement already satisfied: opendatasets in /opt/conda/lib/python3.9/site-packages (0.1.22)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.9/site-packages (from opendatasets) (4.62.3)
Requirement already satisfied: click in /opt/conda/lib/python3.9/site-packages (from opendatasets) (8.0.3)
Requirement already satisfied: kaggle in /opt/conda/lib/python3.9/site-packages (from opendatasets) (1.5.16)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (1.26.7)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2.26.0)
Requirement already satisfied: python-slugify in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: bleach in /opt/conda/lib/python3.9/site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.9/site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: packaging in /opt/conda/lib/python3.9/site-packages (from bleach->kaggle->opendatasets) (21.2)
Requirement already satisfied: text-unidecode>=1.3 in /opt/conda/lib/python3.9/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (3.1)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /opt/conda/lib/python3.9/site-packages (from packaging->bleach->kaggle->opendatasets) (2.4.7)

In [10]:
import opendatasets as od

data = od.download("https://www.kaggle.com/datasets/jiashenliu/515k-hotel-reviews-data-in-europe")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: shrutinagar00
Your Kaggle Key: ········
Downloading 515k-hotel-reviews-data-in-europe.zip to ./515k-hotel-reviews-data-in-europe

100%|██████████| 45.1M/45.1M [00:04<00:00, 10.4MB/s]

In [11]:
# reading the CSV file
# location of file in directory after uploading using opendatasets
data = pd.read_csv('515k-hotel-reviews-data-in-europe/Hotel_Reviews.csv')

In [ ]:
# uploading data set
# data = pd.read_csv('Hotel_Reviews.csv')

In [12]:
data

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [13]:
data.head()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968

In [15]:
data.tail()

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

In [16]:
data.shape

(515738, 17)

In [17]:
data.size

8767546

In [18]:
data.info

<bound method DataFrame.info of                                             Hotel_Address  \
0        s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1        s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2        s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3        s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4        s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
...                                                   ...
515733  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515734  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515735  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515736  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515737  Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...

        Additional_Number_of_Scoring Review_Date  Average_Score  \
0                                194    8/3/2017            7.7
1                                194    8/3/2017            7.7
2                                194   7/31/2017            7.7
3                                194   7/31/2017            7.7
4                                194   7/24/2017            7.7
...                              ...         ...            ...
515733                           168   8/30/2015            8.1
515734                           168   8/22/2015            8.1
515735                           168   8/19/2015            8.1
515736                           168   8/17/2015            8.1
515737                           168    8/9/2015            8.1

                   Hotel_Name Reviewer_Nationality  \
0                 Hotel Arena              Russia
1                 Hotel Arena             Ireland
2                 Hotel Arena           Australia
3                 Hotel Arena      United Kingdom
4                 Hotel Arena         New Zealand
...                       ...                  ...
515733  Atlantis Hotel Vienna              Kuwait
515734  Atlantis Hotel Vienna             Estonia
515735  Atlantis Hotel Vienna               Egypt
515736  Atlantis Hotel Vienna              Mexico
515737  Atlantis Hotel Vienna             Hungary

                                          Negative_Review  \
0        I am so angry that i made this post available...
1                                             No Negative
2        Rooms are nice but for elderly a bit difficul...
3        My room was dirty and I was afraid to walk ba...
4        You When I booked with your company on line y...
...                                                   ...
515733   no trolly or staff to help you take the lugga...
515734           The hotel looks like 3 but surely not 4
515735   The ac was useless It was a hot week in vienn...
515736                                        No Negative
515737       I was in 3rd floor It didn t work Free Wife

        Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                                     397                     1403
1                                       0                     1403
2                                      42                     1403
3                                     210                     1403
4                                     140                     1403
...                                   ...                      ...
515733                                 14                     2823
515734                                 11                     2823
515735                                 19                     2823
515736                                  0                     2823
515737                                 13                     2823

                                          Positive_Review  \
0        Only the park outside of the hotel was beauti...
1        No real complaints the hotel was great great ...
2        Location was good and staff were ok It is cut...
3        Great location in nice surroundings the bar a...
4         Amazing location and building Romantic setting
...                                                   ...
515733                                           location
515734      Breakfast was ok and we got earlier check in
515735                                        No Positive
515736   The rooms are enormous and really comfortable...
515737                               staff was very kind

        Review_Total_Positive_Word_Counts  \
0                                      11
1                                     105
2                                      21
3                                      26
4                                       8
...                                   ...
515733                                  2
515734                                 11
515735                                  0
515736                                 25
515737                                  6

        Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                                7             2.9
1                                                7             7.5
2                                                9             7.1
3                                                1             3.8
4                                                3             6.7
...                                            ...             ...
515733                                           8             7.0
515734                                          12             5.8
515735                                           3             2.5
515736                                           3             8.8
515737                                           1             8.3

                                                     Tags days_since_review  \
0       [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1       [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2       [' Leisure trip ', ' Family with young childre...            3 days
3       [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4       [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days
...                                                   ...               ...
515733  [' Leisure trip ', ' Family with older childre...           704 day
515734  [' Leisure trip ', ' Family with young childre...           712 day
515735  [' Leisure trip ', ' Family with older childre...           715 day
515736  [' Leisure trip ', ' Group ', ' Standard Tripl...           717 day
515737  [' Leisure trip ', ' Family with young childre...           725 day

              lat        lng
0       52.360576   4.915968
1       52.360576   4.915968
2       52.360576   4.915968
3       52.360576   4.915968
4       52.360576   4.915968
...           ...        ...
515733  48.203745  16.335677
515734  48.203745  16.335677
515735  48.203745  16.335677
515736  48.203745  16.335677
515737  48.203745  16.335677

[515738 rows x 17 columns]>

In [19]:
print(data.Hotel_Address)
print(data.Hotel_Address.head())

0          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4          s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
                                ...
515733    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515734    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515735    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515736    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515737    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
Name: Hotel_Address, Length: 515738, dtype: object
0     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
1     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
2     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
3     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
4     s Gravesandestraat 55 Oost 1092 AA Amsterdam ...
Name: Hotel_Address, dtype: object

For simplicity, change countries names to countries Alpha-2 codes

** Alpha Codes are Country codes **

1. Netherlands NL
2. United Kingdom UK
3. France FR
4. Spain ES
5. Italy IT
6. Austria AT

In [20]:
data.Hotel_Address = data.Hotel_Address.str.replace("Netherlands", "NL")
data.Hotel_Address = data.Hotel_Address.str.replace("United Kingdom", "UK")
data.Hotel_Address = data.Hotel_Address.str.replace("France", "FR")
data.Hotel_Address = data.Hotel_Address.str.replace("Spain", "ES")
data.Hotel_Address = data.Hotel_Address.str.replace("Italy", "IT")
data.Hotel_Address = data.Hotel_Address.str.replace("Austria", "AT")

In [21]:
data.Hotel_Address

0           s Gravesandestraat 55 Oost 1092 AA Amsterdam NL
1           s Gravesandestraat 55 Oost 1092 AA Amsterdam NL
2           s Gravesandestraat 55 Oost 1092 AA Amsterdam NL
3           s Gravesandestraat 55 Oost 1092 AA Amsterdam NL
4           s Gravesandestraat 55 Oost 1092 AA Amsterdam NL
                                ...
515733    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515734    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515735    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515736    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
515737    Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...
Name: Hotel_Address, Length: 515738, dtype: object

Splitting Hotel Address and picking out the last string which would be country (eg NL, ES)
- store them in new column by the name "countries"

In [22]:
data["countries"] = data.Hotel_Address.apply(lambda x: x.split(' ')[-1])

In [23]:
data.countries

0         NL
1         NL
2         NL
3         NL
4         NL
          ..
515733    AT
515734    AT
515735    AT
515736    AT
515737    AT
Name: countries, Length: 515738, dtype: object

In [24]:
print(data.countries.unique())

['NL' 'UK' 'FR' 'ES' 'IT' 'AT']

In [25]:
data

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,NL
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,NL
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,NL
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,NL
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,NL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,AT
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,AT
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,AT
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,AT
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,AT

In [26]:
data.columns

Index(['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date',
       'Average_Score', 'Hotel_Name', 'Reviewer_Nationality',
       'Negative_Review', 'Review_Total_Negative_Word_Counts',
       'Total_Number_of_Reviews', 'Positive_Review',
       'Review_Total_Positive_Word_Counts',
       'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags',
       'days_since_review', 'lat', 'lng', 'countries'],
      dtype='object')

Columns required for recommender are:
1. Hotel_Address
2. Average_Score
3. Hotel_Name
4. Tags
5. countries

In [27]:
data

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,NL
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968,NL
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968,NL
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968,NL
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968,NL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677,AT
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677,AT
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677,AT
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677,AT
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677,AT

Dropping unnecessary columns

- axis = 1 (represents columns)
- axis = 0 (represents rows)

In [28]:
data.drop(['Additional_Number_of_Scoring',
           'Review_Date', 'Reviewer_Nationality',
           'Negative_Review', 'Review_Total_Negative_Word_Counts',
           'Total_Number_of_Reviews', 'Positive_Review',
           'Review_Total_Positive_Word_Counts',
           'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score',
           'days_since_review', 'lat', 'lng'],axis = 1,inplace=True)

In [29]:
data.columns

Index(['Hotel_Address', 'Average_Score', 'Hotel_Name', 'Tags', 'countries'], dtype='object')

Create a function to convert the strings of list into a normal list
- Getting rid of the punctuation

In [30]:
def impute(column):
    column = column[0]
    if (type(column) != list):
        return "".join(literal_eval(column))
        # literal_eval to get rid of the punctuation
    else:
        return column

In [31]:
data.dtypes

Hotel_Address     object
Average_Score    float64
Hotel_Name        object
Tags              object
countries         object
dtype: object

In [32]:
data.columns[0]
#in above function we start from very first column ie on 0th index
    # also tags column is in form of list so the func will not act on Tags
    # In tags '' and , are required

'Hotel_Address'

In [33]:
data.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",NL
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Duplex Double...",NL
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,"[' Leisure trip ', ' Family with young childre...",NL
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",NL
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",NL

In [34]:
# apply impute function on dataset
data["Tags"] = data[["Tags"]].apply(impute, axis=1)
data.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,Leisure trip Couple Duplex Double Room Sta...,NL
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,Leisure trip Couple Duplex Double Room Sta...,NL
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,Leisure trip Family with young children Dup...,NL
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,Leisure trip Solo traveler Duplex Double Ro...,NL
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,Leisure trip Couple Suite Stayed 2 nights ...,NL

Converting tags and countries data to lowercase

In [35]:
data["Tags"] = data["Tags"].str.lower()
data["countries"] = data["countries"].str.lower()

In [36]:
data.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,nl
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,nl
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,nl
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,nl
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,nl

## Defining Recommender Function

In [37]:
def recommender(location, description):
    # dividing the texts into small words/tokens
    description = description.lower()
    word_tokenize(description)
    
    #applying stopwords - eg, in, or, and etc.
    stop_words = stopwords.words('english')
    
    #applying lemmatization (base words, cats -- cat, sleeping -- sleep)
    lemm = WordNetLemmatizer()
    
    #connecting packages and filtering
    filtered = {word for word in description if not word in stop_words}
    filtered_set = set()
    for fs in filtered:
        filtered_set.add(lemm.lemmatize(fs))
        
    # creating variable that takes in the location
    # and retuns the following features:
    country = data[data['countries'] == location.lower()]
    country = country.set_index(np.arange(country.shape[0]))
    list1 = []; list2 = []; cos = [];
    
    for i in range(country.shape[0]):
        temp_token = word_tokenize(country["Tags"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp2_set = set()
        for s in temp_set:
            temp2_set.add(lemm.lemmatize(s))
        vector = temp2_set.intersection(filtered_set)
        cos.append(len(vector))
            
    # applying cosine similarity - to what degree 
    # search keywords match the data available
    country['similarity'] = cos
    country = country.sort_values(by = 'similarity', ascending = False)
    country.drop_duplicates(subset="Hotel_Name", keep = 'first', inplace = True)
    country.sort_values("Average_Score", ascending = False, inplace = True)
    country.reset_index(inplace = True)
    return country[["Hotel_Name", "Average_Score", "Hotel_Address"]].head(10)

In [38]:
# enter input
recommender("FR", "Business Trip")

,Hotel_Name,Average_Score,Hotel_Address
0,Ritz Paris,9.8,15 Place Vend me 1st arr 75001 Paris FR
1,H tel de La Tamise Esprit de France,9.6,4 rue d Alger 1st arr 75001 Paris FR
2,Le Narcisse Blanc Spa,9.5,19 Boulevard De La Tour Maubourg 7th arr 75007...
3,Hotel The Peninsula Paris,9.5,19 avenue Kleber 16th arr 75116 Paris FR
4,La Chambre du Marais,9.4,85 87 RUE DES ARCHIVES 3rd arr 75003 Paris FR
5,Goralska R sidences H tel Paris Bastille,9.4,7 Boulevard Bourdon 4th arr 75004 Paris FR
6,Nolinski Paris,9.4,16 Avenue de l Opera 1st arr 75001 Paris FR
7,Splendide Royal Paris,9.4,18 Rue du Cirque 8th arr 75008 Paris FR
8,Hotel Monge,9.4,55 rue Monge 5th arr 75005 Paris FR
9,Hotel Eiffel Blomet,9.4,78 Rue Blomet 15th arr 75015 Paris FR

### Data Set
https://www.kaggle.com/datasets/jiashenliu/515k-hotel-reviews-data-in-europe

##### 515K Hotels Reviews Data in EUROPE